@font-face {
    font-family: 'futura_lt_btlight';
    src: url('../fonts/futura_light_bt-webfont.woff2') format('woff2'),
         url('../fonts/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_md_btmedium';
    src: url('../fonts/tt0142m-webfont.woff2') format('woff2'),
         url('../fonts/tt0142m-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'futura_md_btbold';
    src: url('../fonts/tt0144m-webfont.woff2') format('woff2'),
         url('../fonts/tt0144m-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}