@media only screen and (max-width:1199px)
{
	
.banner{ font-size:44px;}	
.login-content{ min-height:185px;}
.new-student-left{ width: 350px;}
.miscellaneous-table{ width:100%; overflow:auto;}
.miscellaneous-table table{ width:500px;}
#miscellaneous_modal .modal-dialog { width: 900px;}
.athletics-list-left{ width:280px;}
.packages-list-left{ width:77%;}
.packages-list-right{width: 21%;}

	
}


@media only screen and (max-width:991px)
{
	
.banner{ font-size:34px;}
.login-content{ min-height: 168px; padding: 0 20px;}
.new-student-left{ width:250px;}
.new-student-right{ width:110px;}
#miscellaneous_modal .modal-dialog{ width:720px;}
.athletics-list-left{ margin-right: 10px; width: 220px;}
.athletics-list-right.numbers-box{ width:97px;}
.detail-photo{ padding: 20px 0;}
.packages-list-left{ width:70%;}
.packages-list-right{width: 28%;}
.package-image a{  height: 85px;}
.package-image a img{ height:100%;}
.package-size li{ margin-bottom: 10px; font-size: 12px; margin-right: 10px; padding: 0 10px 0 0;}

}


@media only screen and (max-width:767px)
{
.header-top { padding: 20px 10px;}
.header{ height:360px;}
.banner { font-size: 24px;}
.down-arrow {bottom: 20px;}
.content{ padding:30px 0px ;}
.page-title{ font-size:20px;}
.login-list-box .row, .other-product .row{ margin:0;}
.footer .pull-left, .footer .pull-right{ float:none !important;}
.footer { text-align:center;}
.copyright-box{ margin-bottom:10px;}
.footer{ padding:15px 0 10px;}
.product-left{ margin-bottom:10px;}
.inner-header{ padding: 25px 10px;}
.breadcrumb{ padding:10px;}
.inner-contnet{ padding:10px 0;}
.page-title{ padding:10px;}
.address-box .row, .online-id-box .row{ margin:0;}
.address-box .input-box ,.address-box .input-button{ padding:0;}
.new-student-left{ width:100%; float:none; margin:0 0 10px;}
.new-student-right{ float:none; margin: 0 auto;  width: 130px;}
.id-text{ margin-bottom: 25px;}
.information-text{ padding:0 10px;}
.order-table-box{ margin-bottom:10px;}
.file-input{ margin: 20px 0;}
.miscellaneous-box .row{ margin:0;}
.miscellaneous-list-box{ margin-bottom:20px;}
.detail-photo{ padding:10px;}
.detail-photo-left p{ margin:0;}
.athletics-button { margin: 10px 0;}
.athletics-list-left{margin-right: 1%; width:69%;}
.athletics-list-right.numbers-box { width: 30%;}
#miscellaneous_modal .modal-dialog{ width:97%; margin:10px auto;}
#miscellaneous_modal .modal-dialog .modal-body { padding: 10px;}
.prepay-tab { margin-top: 0;}
.prepay-tab-nav{ padding:5px;}
.packages-list{ position:relative; padding-right:115px;}
.packages-list-right{ position:absolute; right:5px; top:10px; width:107px;}
.packages-list-left{ width:100%; margin:0;}
.package-image a{ height: auto;}
.prepay-tab-nav .nav-tabs li a{ padding: 15px 0; font-size: 14px;}

	
}


@media only screen and (max-width:480px)
{
.logo img{ width: 200px;}	
.menu{ padding-top: 5px;}
.page-title h1{ font-size: 22px;}
.detail-photo-left{ float:none; text-align:center; margin-bottom:10px; }
.detail-photo-right{ float:none; text-align:center;}
.packages-list{ padding:10px;}
.packages-list-right{ position:static;}
.packages-list-left{ margin-bottom:10px;}
.package-size li{  padding: 0 6px 0 0;margin-bottom: 6px; margin-right: 6px;}
	
}