*{ margin:0; padding:0; line-height:normal; font-weight:normal; list-style:none; box-sizing:border-box; text-decoration:none;}
body{   font-family: 'futura_md_btmedium';}
img{ max-width:100%;}
*:hover, *:focus, a:hover, a:focus{ outline:none !important; text-decoration:none;}


/*****************
header
******************/

.header{ background:#474747 url(../images/header-bg.png) no-repeat; height:604px; position:relative; background-attachment:fixed;}
.header:after{ content:""; background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(61,61,61,1) 100%);
background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(61,61,61,1) 100%);
background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(61,61,61,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#3d3d3d',GradientType=0 );
position:absolute; left:0; top:0; width:100%; height:100%;}
.header-top{ padding:38px 0 0; position:relative; z-index:1;}
.logo{ float:left;}
.menu{ float:right; padding-top:15px;}
.menu a{ font-size:16px; color:#fff; font-weight:500; transition:all 0.5s ease-out 0s; -moz-transition:all 0.5s ease-out 0s; -ms-transition:all 0.5s ease-out 0s; -o-transition:all 0.5s ease-out 0s; -webkit-transition:all 0.5s ease-out 0s;}
.menu a:hover{ text-decoration:none; color:#F45911;}
.banner{ position:absolute; left:0; top:0; right:0; bottom:0; margin:auto; height:110px; font-size:50px; color:#fff; font-family: 'futura_lt_btlight'; text-align:center; z-index:1; }
.banner span{ color:#f45911;}

.down-arrow{ position:absolute; left:0; bottom:48px; width:100%; text-align:center; z-index:1;}
.down-arrow a{ font-size:14px; color:#fff;}
.down-arrow span{ display:block; margin-bottom:4px;}

/**********************
content
***********************/
.content{ background:#f7f7f7; padding:55px 0 123px;}
.content-title{ text-align:center; font-size:30px; color:#000; line-height:normal; margin:0 0 55px;}
.content-title span{ color:#f45911;}

.login-list{ border:1px solid #dddddd; margin-bottom:30px; transition:all 0.5s ease-out 0s; -moz-transition:all 0.5s ease-out 0s; -ms-transition:all 0.5s ease-out 0s; -o-transition:all 0.5s ease-out 0s; -webkit-transition:all 0.5s ease-out 0s; position:relative; z-index:2;}
.login-list:hover{ transform:scale(1.1); box-shadow:6px 6px 0 #ccc;}
.login-icon{ height:150px; display:table; width:100%; text-align:center;}
.inner-login-icon{ display:table-cell; vertical-align:middle;}
.login-content{ text-align:center; padding:0 50px 0; min-height:148px; color:#777; font-size:12px; line-height:22px;}
.login-content h3{ text-transform:uppercase; margin:0 0 16px; font-family: 'futura_md_btbold'; font-size:14px; font-weight:normal; color:#1d2226; }
.login-content p{text-align:center; color:#777; font-size:12px; line-height:22px; margin:0 0 4px;}
.login-content p:last-child{ margin:0;}
.login-content a{ color:#f45911; font-size:12px; line-height:30px; text-decoration:underline;}
.login-content a i{ margin-left:8px;}


/************
footer
*************/

.footer{ background:#333; padding:26px 0;}
.social-icon{ margin:0; padding:0;}
.social-icon li{ display:inline-block; vertical-align:top; margin-right:11px;}
.social-icon li:last-child{ margin-right:0;}
.social-icon li a{ line-height:22px; color:#fff; font-size:16px; transition:all 0.5s ease-out 0s;}
.social-icon li a:hover{ color:#f45911;}
.copyright-box{ color:#fff; font-size:12px; line-height:22px;}
.copyright-box a{ color:#fff;}
.copyright-box a:hover{ text-decoration:underline;}

/************
inner-header
*************/
.inner-header{background: rgb(71,71,71);
background: -moz-linear-gradient(top,  rgba(71,71,71,1) 0%, rgba(61,61,61,1) 100%);
background: -webkit-linear-gradient(top,  rgba(71,71,71,1) 0%,rgba(61,61,61,1) 100%);
background: linear-gradient(to bottom,  rgba(71,71,71,1) 0%,rgba(61,61,61,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#3d3d3d',GradientType=0 );
padding:35px 0; }

/************
breadcrumb
*************/

.breadcrumb{ background:#f6f6f6; padding:18px 0; margin:0;}
.breadcrumb ul{ padding:0; margin:0;}
.breadcrumb ul:after{ content:""; clear:both; display:block;} 
.breadcrumb ul li{ float:left; margin-right:15px; color:#000; font-size:18px;}
.breadcrumb ul li:last-child{ margin:0;}
.breadcrumb ul li a{ color:#000; font-size:18px; position:relative;font-family: 'futura_md_btmedium'; padding-right:20px; transition:all 0.3s ease-out 0s;}
.breadcrumb ul li a:after{ content:"\f105"; font-family: 'FontAwesome'; color:#00; font-size:18px; position:absolute; right:0; top:2px;}
.breadcrumb ul li a:hover{ color:#F45911; text-decoration:none;}
.breadcrumb ul li a:hover:after{ color:#000;}

/************
page title
*************/
.page-title{ background:#fff; text-align:left; padding:23px 0;}
.page-title h1{ margin:0; color:#f45911; font-size:30px; font-family: 'futura_md_btbold'; font-weight:normal;}

/************
inner contnet
*************/
.inner-contnet{ padding:30px 0 50px; font-size:15px; color:#333; }
.input-box{ margin-bottom:26px;}
.input-box label{ display:block; margin:0 0 10px; color:#333; font-size:14px; text-transform:uppercase; font-weight:normal;font-family: 'futura_md_btmedium';}
.input-box input{ width:100%; height:45px; padding:0 10px; border:1px solid #dddddd; background:#f6f6f6; color:#000; font-size:14px;}
.select-box{ width:100%; height:45px; padding:0; border:1px solid #dddddd; background:#f6f6f6; color:#000; font-size:14px; position:relative;}
.select-box select{ width:100%; height:100%; background:none; border:none; padding:0 0 0 10px; color:#000; font-size:14px;}
.select-box:after{ content:"\f0d7"; font-family: 'FontAwesome'; position:absolute; right:0; top:0; background:#f6f6f6; font-size:14px; color:#777; height:100%; line-height:45px; text-align:center; width:25px; pointer-events: none;} 
.select-box select option{ padding:5px; background:#fff; color:#000;}
.id-text{ color:#000; font-size:15px; margin-bottom:35px;}
.id-text span{ color:#f01d1d;}

.order-title{ margin:0 0 10px; font-weight:normal; font-family: 'futura_md_btbold'; text-transform:uppercase; font-size:18px;}
.order-table table tr th{ color:#fff; font-size:15px; line-height:50px; background:#2c2c2c; padding:0 30px; border-right:1px solid #b1b1b1;}
.order-table table tr th:last-child{ border-right:none;}
.order-table table tbody tr:nth-child(2n) td{ background:#f6f6f6;} 
.order-table table tbody tr td{ line-height:50px; padding:0 30px; font-size:14px; color:#7d7d7d; border-right:1px solid #b1b1b1;}  
.order-table table tbody tr td:last-child{ border-right:none;}

.numbers-box{ width:107px; height:35px; border:1px solid #bfbfbf; padding:0 28px; position:relative;}
.numbers-box input{ width:100%; height:100%; border:none; background:#f6f6f6; color:#333; font-size:18px; text-align:center;}
.numbers-box .inc.button{ left:0;}
.numbers-box .dec.button{ right:0;}
.numbers-box .inc.button, .numbers-box .dec.button{ position:absolute;height:100%; width:28px; line-height:35px; text-align:center; color:#858585; font-size:12px; background:#e9e9e9; top:0; }

.order-table table tbody tr td.total{ color:#000; font-weight:bold;}

.new-student-box:after{ content:""; clear:both; display:block;}
.new-student-box{ padding:20px; background:#f6f6f6; margin-bottom:25px;}
.new-student-left{ float:left; width:480px;}
.new-student-right{ float:right; width:130px;}
.upload-photo{ margin-bottom:34px;}
.upload-photo:last-child{ margin-bottom:0;}
.upload-photo img{ border:1px solid #d7d7d7;}
.upload-photo p{ text-align:center; margin:5px 0 0; color:#777; font-size:14px; }

.new-student-left h3{ margin:0 0 25px; color:#f45911; font-size:18px; text-transform:uppercase; font-weight:normal; font-family: 'futura_md_btbold';}
.new-student-left p{ color:#777; font-size:14px; margin:0;}
.new-student-left p span{ color:#e92828;}
.file-input{ margin:30px 0 20px; position:relative; width:251px; height:153px; background:#fff; border:1px solid #d7d7d7; text-align:center;}
.file-input input{ opacity:0; position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; cursor:pointer;}
.file-input label{ width:100%; height:100%; padding-top:50px;}
.input-button button{ width:100%; height:45px; border:2px solid #2a2a2a; color:#292929; font-size:15px; transition:all 0.5s ease-out 0s; background:#fff;}
.input-button button:hover{ border-color:#f45911; color:#f45911;}
.information-text{ font-size:15px; color:#333; margin-bottom:20px;}

.detail-photo{ background:#333; padding:33px 0; color:#fff;}
.detail-photo-left{ float:left;}
.detail-photo-right{ float:right;}
.detail-photo-left h2{ margin:0 0 1px; color:#fff; font-size:22px; font-weight:normal; font-family: 'futura_md_btbold';}
.detail-photo-left p{ color:#f45911; font-size:14px; margin:0;}
.add-order-button{ border:none; background:#f45911; width:125px; height:40px; color:#fff; font-family: 'futura_md_btbold'; font-size:13px; transition:all 0.5s ease-out 0s;}
.add-order-button:hover{ background:#d43900;}

.miscellaneous-list-box{ background:#f6f6f6; padding:23px 10px; height:1150px; overflow-y:auto;}
.miscellaneous-list-img a{ display:block; position:relative; width:100%; height:100%; }
.miscellaneous-list-img a:after{ background:rgba(0,0,0,0.7); content:""; position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; transition:all 0.5s ease-out 0s;}
.miscellaneous-list-img a:before{ content:"\f00e"; font-family: 'FontAwesome'; position:absolute; top:0; left:0; right:0; bottom:0; color:#fff; font-size:24px; height:24px; z-index:1; margin:auto; text-align:center; opacity:0; transition:all 0.5s ease-out 0s;}
.miscellaneous-list-img a:hover:after, .miscellaneous-list-img a:hover:before{ opacity:1; }

.miscellaneous-list{ margin-bottom:20px; }
.miscellaneous-list:last-child{ margin-bottom:0;}
.miscellaneous-list h3{ color:#f45911; line-height:30px; font-size:20px; text-transform:uppercase; font-weight:normal; font-family: 'futura_md_btbold'; margin:0 0 10px;}

.miscellaneous-table.order-table table tr th, .miscellaneous-table.order-table table tbody tr td{ padding:0 10px;}

.pencil-button{ display:inline-block; width:35px; height:35px; text-align:center; line-height:35px; color:#fff; font-size:13px; margin-right:8px; transition:all 0.5s ease-out 0s; background:#39a627; }
.pencil-button:hover{ background:#198607; color:#fff;}
.trash-button{ display:inline-block; width:35px; height:35px; text-align:center; line-height:35px; color:#fff; font-size:13px; transition:all 0.5s ease-out 0s; background:#e55957;  }
.trash-button:hover{ background:#c53937; color:#fff;}
.miscellaneous-table.order-table table tbody tr td.total{ border:none;}

#miscellaneous_modal .modal-backdrop.in{ opacity:0.8;}
#miscellaneous_modal .modal-dialog{ width: 1100px;}
#miscellaneous_modal .modal-content{ border-radius:0; box-shadow:none; border:none;}
#miscellaneous_modal .close{ color:#343434; font-size:24px; opacity:1;}
#miscellaneous_modal .modal-header{ padding:20px; border:none;}
.athletics-list-box{ margin:0; padding:0;}
.athletics-list-box li{ margin-bottom:14px;}
.athletics-list-box li:after{ content:""; clear:both; display:block;}
.athletics-list-left{ float:left; width:304px; margin-right:15px; border:1px solid #bfbfbf;}
.athletics-list-right{ float:left;}
.athletics-list-left div{ border-right:1px solid #bfbfbf; float:left; text-align:center; width:50%; line-height:48px; color:#f45911; font-size:14px;}
.athletics-list-left div:last-child{ border-right:none;}
.athletics-list-left div span{ color:#777;}
.athletics-list-right.numbers-box{  height: 50px;}
.athletics-list-right.numbers-box .inc.button, .athletics-list-right.numbers-box .dec.button{ line-height:50px;}
.athletics-button{ margin-top:20px;}
.athletics-button .add-order-button{ width:200px; text-transform:uppercase;}
.modal-title{ margin:0 0 25px; color:#333; font-size:20px; font-weight:normal; font-family: 'futura_md_btbold';}
.modal-title span{ color:#f45911; font-size:24px; display:block; text-transform:uppercase;}
.cart-button{ border:1px solid #; width:170px; height:45px; border:1px solid #f45911; color:#f45911; font-size:16px; background:#fff; transition:all 0.5s ease-out 0s;}
.cart-button:hover{ color:#333; border-color:#333;}
.packages-list{ padding:20px; background:#f6f6f6; margin-bottom:20px;}
.packages-list:after{ content:""; clear:both; display:block;}
.packages-list-left{ float:left; width:80%; margin-right:2%;}
.packages-list-right{ float:left; width:18%; }

.package-title{ font-size:20px; margin:0 0 10px; line-height:30px; font-weight:normal; font-family: 'futura_md_btbold'; color:#f45911; text-transform:uppercase;}
.package-title span{ color:#333;}
.package-size:after{ content:""; clear:both; display:block;}
.package-size li{ float:left; padding:0 15px 0 0; border-right:1px solid #f45911; margin-right:15px; line-height:15px; margin-bottom:15px; color:#777777; font-size:13px; }
.package-image a{ width:100%; background:#fff; position:relative; display:block; text-align:center; height:135px; border:1px solid #e9e9e9;}

.package-image a:after{ background:rgba(0,0,0,0.7); content:""; position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; transition:all 0.5s ease-out 0s;}
.package-image a:before{ content:"\f00e"; font-family: 'FontAwesome'; position:absolute; top:0; left:0; right:0; bottom:0; color:#fff; font-size:24px; height:24px; z-index:1; margin:auto; text-align:center; opacity:0; transition:all 0.5s ease-out 0s;}
.package-image a:hover:after, .package-image a:hover:before{ opacity:1; }

.prepay-tab{ margin-top:-30px;}
.prepay-tab .nav-tabs{ border:none;}
.prepay-tab-nav{ padding:5px 0; background:#f6f6f6;}
.prepay-tab-nav .nav-tabs li{ margin:0; width:49%; margin-right:2%;}
.prepay-tab-nav .nav-tabs li:last-child{ margin-right:0;}
.prepay-tab-nav .nav-tabs li a{ border:none; border-radius:0; margin:0; background:#e9e9e9; color:#333; font-size:18px; line-height:normal; text-transform:uppercase;  font-family: 'futura_md_btbold'; text-align:center; padding:19px 0; transition:all 0.3s ease-out 0s;}
.prepay-tab-nav .nav-tabs li.active a, .prepay-tab-nav .nav-tabs li.active a:focus, .prepay-tab-nav .nav-tabs li.active a:hover ,	 .prepay-tab-nav .nav-tabs li a:hover{ border:none; background:#f45911; color:#fff;}
.prepay-tab-content{ padding:13px 0 0; background:#fff;}